streamlit
PyMuPDF
chromadb
sentence_transformers

# LangChain and Google Gemini (Generative AI) integration
langchain>=0.0.228
google-generative-ai
google-auth
langchain-core>=1.0.1
langchain-huggingface
langchain-chroma
langchain-community
langchain-google-genai
